body{
    background-color: #89CFF0;
}
.navbar{
    display: flex;
    align-items:space-between;
background-color: aqua;

    text-align: center;
    
 
}
a{
    color: black;
    text-decoration: none;
        
}

.home{
    margin-left: 10rem;
}

.logout{
    margin-right: 10rem;
}
.right_twe{
display: flex;
  justify-content: flex-end;
}
