nav {
  display: flex;
  ul {
    display: flex;
    gap: 2em;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: $main-color;
        display: flex;
        &:hover{
          color: #ff0000;
        }
      }
    }
  }
}